/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #ffffed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background-color: #ffffed;
  background-size: cover;
}

.info-cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  max-width: 360px;
}

.info-cards-elements {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.js-gallery-elem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

img {
  display: block;
  width: 100%;
}

.form {
  padding: 20px 0;
}

.form {
  display: flex;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;

}

.form input {
  height: 30px;
  width: 250px;
  padding: 4px 8px;
  border-radius: 5px;
  outline: none;
  border: solid #fea34e 3px;
  background-color: #ffefc8;
  margin-right: 8px;
}

.form input:focus-within {
  background-color: #ffefc8;
}

.form button {
  height: 40px;
  padding: 4px 12px;
  border-radius: 5px;
  border: solid #fea34e 3px;
  ;
  background-color: #ffefc8;
  cursor: pointer;
  transition: 0.4s;
}

.form button:hover {
  background-color: #fea34e;
}

.thumb {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  background-color: #ffefc8;
}

.thumb img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 240px;
  object-fit: cover;
}